body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111; /* Change to black */
    color: #ddd; /* Change to light gray */
}

.navbar-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 100;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 100vh;
    background-color: #444; /* Darker gray */
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 200;
}

.vertical-navbar:hover {
    width: 150px;
}

.vertical-navbar a {
    padding: 30px 15px 30px 13px;
    text-decoration: none;
    color: #ddd; /* Light gray */
    overflow: hidden;
    white-space: nowrap;
    transition: padding-left 0.3s, color 0.3s; /* Added color transition */
    font-size: larger;
}

.vertical-navbar:hover a {
    padding-left: 5px;
    text-align: center;
    color: #fff; /* White on hover */
}

.horizontal-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #555; /* Darker gray */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.horizontal-navbar #signoutbutton {
    margin-left: 10px;
    color: #ffd700; /* Gold */
}

.content {
    padding: 15px;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
    color: #ddd; /* Light gray */
}

.vert-nav-images {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.current-select {
    color: #87CEEB; /* Sky blue */
}

a:hover {
    color: #00CED1; /* Dark turquoise */
}

