body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #424242, #6e5494); /* Gray to purple gradient */
    color: #ddd;
    min-height: 100vh; /* Ensure the gradient covers the full height */
}

.navbar-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 100;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 100vh;
    background: linear-gradient(to top, #6e5494, #424242); 
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 200;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6); /* Subtle shadow for depth */
    border-right: 2px solid #6e5494; /* Light border to differentiate */
}

.vertical-navbar:hover {
    width: 150px;
}

#navbarProfilePic {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid white; 
}


.vertical-navbar a {
    padding: 30px 15px 30px 13px;
    text-decoration: none;
    color: #ddd; /* Light text color */
    overflow: hidden;
    white-space: nowrap;
    transition: padding-left 0.3s, color 0.3s;
    font-size: larger;
}

.vertical-navbar:hover a {
    padding-left: 5px;
    text-align: center;
    color: #fff; /* White text on hover */
}

.horizontal-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: #333333; /* Slightly darker for distinction */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); /* Subtle shadow for depth */
}

.horizontal-navbar #signoutbutton {
    margin-left: 10px;
    color: #b8a8ff; /* Light purple for sign out text */
}


.content {
    padding: 15px;
    margin-top: 20px;
    flex: 1;
    margin-left: 65px;
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vert-nav-images {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.current-select {
    color: #87CEEB;
}

a:hover {
    color: #00CED1;
}

.person-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.person-box {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.person-box:hover {
    transform: translateY(-10px);
}

.person-box h2 {
    color: #650a77;
    margin-bottom: 15px;
}

.person-box p {
    font-size: 1em;
    color: #ddd;
}

.about_container {
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.about_bizbond {
    font-size: 1.2em;
    line-height: 1.5;
    color: #ddd;
}

@media (max-width: 768px) {
    .person-container {
        flex-direction: column;
        align-items: center;
    }

    .person-box {
        flex-basis: 80%;
    }

    .button-grid {
        width: 70%; 
    }

    .nav-button {
        font-size: 1em; 
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nav-button {
    background-color: #333;
    color: #ddd;
    padding: 15px 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-button:hover {
    background-color: #444;
    transform: scale(1.08);
    color: #fff;
    border-color: #c724b9;
}
