body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 100;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    width: 65px; 
    height: 100vh;
    background-color: #e6e6e6;
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 200;
}

.vertical-navbar:hover {
    width: 150px; 
}

.vertical-navbar a {
    padding: 30px 15px 30px 13px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    transition: padding-left 0.3s;
    font-size: larger;
}

.vertical-navbar:hover a {
    padding-left: 5px;
    text-align: center;
}

.horizontal-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 10px;
    background-color: #f1f1f1;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.horizontal-navbar #signoutbutton {
    margin-left: 10px;
}

.content {
    padding: 15px;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px; 
}

.vert-nav-images{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.current-select{
    color: blue;
}

a:hover{
    color: blueviolet;
}