body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; /* Full width */
    max-width: 800px; /* Increased maximum width for wider container */
}

.custom-form-container {
    background: #fff;
    padding: 40px; /* Adjusted padding for shorter length */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-form {
    margin: 0;
}

.custom-heading {
    margin-bottom: 30px;
    color: #333;
}

.custom-form-group {
    margin-bottom: 20px; /* Adjusted margin */
}

.custom-input {
    width: 100%;
    padding: 15px; /* Adjusted padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Space between inputs and button */
}

.custom-label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.custom-button,
.custom-sign-up-button {
    width: 100%;
    padding: 12px; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px; /* Space between buttons */
}

.custom-button:hover,
.custom-sign-up-button:hover {
    background-color: #0056b3;
}

.custom-forgot-password {
    display: block;
    margin-top: 20px;
    color: #007bff;
    cursor: pointer;
}

.alert-message {
    color: #fff;
    background-color: #ff9999;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.custom-image {
    max-width: 150px;
    margin-bottom: 20px;
}
