body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.navbar-container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.vertical-navbar a {
    color: #0366d6;
}


/* Main content styles */
.form-container {
    flex: 3;
    padding: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-display {
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#profileForm {
    display: none; 
}

.user-info {
    text-align: left;
}
