body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #424242, #6e5494); /* Gray to purple gradient */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* For positioning the hexagonal pattern */
    overflow: hidden; /* To prevent scrolling if the pattern is bigger than the view */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../IMAGES/topography.svg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    opacity: 0.4; 
    z-index: -1; 
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* To position the pseudo-element absolutely relative to the body */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* Higher z-index to keep it in front of the pattern */

}

.custom-form-container {
    background: rgba(110, 84, 148, 1); /* Slightly transparent white */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 800px;
    position: relative;
    z-index: 2; /* Ensuring this is also above the pattern */

}

.custom-form {
    margin: 0;
}

.custom-heading {
    margin-bottom: 30px;
    color: #333;
}

.custom-form-group {
    margin-bottom: 20px;
}

.custom-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.custom-label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.custom-button,
.custom-sign-up-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.custom-button:hover,
.custom-sign-up-button:hover {
    background-color: #0056b3;
}

.custom-forgot-password {
    display: block;
    margin-top: 20px;
    color: #007bff;
    cursor: pointer;
}

.alert-message {
    color: #fff;
    background-color: #ff9999;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.custom-image {
    max-width: 150px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .custom-form-container {
        padding: 30px;
        max-width: 600px;
    }

    .custom-input, 
    .custom-button, 
    .custom-sign-up-button {
        padding: 10px;
    }

    .custom-heading {
        margin-bottom: 20px;
    }

    .custom-form-group {
        margin-bottom: 15px;
    }

    .auth-buttons-container {
        flex-direction: column;
    }

    .auth-button {
        margin: 10px 0; /* Adjusted margin for stacked layout */
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .custom-form-container {
        padding: 20px;
        max-width: 100%;
        border-radius: 10px;
    }

    .custom-input, 
    .custom-button, 
    .custom-sign-up-button {
        padding: 8px;
    }

    .custom-heading {
        font-size: 18px;
    }

    .alert-message {
        top: -35px;
    }

    .custom-image {
        max-width: 120px;
    }

    .auth-buttons-container {
        flex-direction: column;
    }

    .auth-button {
        margin: 8px 0;
        font-size: 12px;
    }
}