.custom-content {
    margin-left: 100px;
    margin-right: 10px;
}

.data-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; 
}

.data-item {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-search-container {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-search-container input, .filter-search-container select, .filter-search-container button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.filter-search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-search-container button:hover {
    background-color: #0056b3;
}


.data-label,
.data-value {
    flex: 1;
}

.data-label {
    font-weight: bold;
    margin-bottom: 5px; 
}


.data-item:last-child {
    border-bottom: none;
}

.data-item table {
    width: 100%;
    border-collapse: collapse;
}

.data-item th, .data-item td {
    padding: 8px;
    border: 1px solid #ddd;
}

.data-item th {
    background-color: #f2f2f2;
}

.data-item td {
    background-color: #fff;
}